<%- include head.ejs %>
<%- include navbar.ejs %>

<html ng-app="mongoDash">

<!-- SET THE CONTROLLER AND GET ALL searchResults -->
<body>
<section class="container" ng-controller="adminMainCtrl">

    <h2>Searches found <span class="label label-info" ng-cloak>{{ searchResults.length }}</span></h2>


    <div id=resultsDataContainer class="container">
        <div class="row clearfix">
            <div class="col-xs-12 column">
                <div class="btn-group">
                    <button id=create_Button ng-click="createSearch()" class='btn-success btn'>Create Search</button>
                    <button id=edit_Button ng-click="editSearch()" ng-model="data.search" class="hidden">Edit Search</button>
                    <button id=delete_Button ng-click="deleteSearches()" class="hidden">Delete Search</button>
                    <button id=reset_Button ng-click="reset()" class="hidden">Reset</button>
                </div>

                <table class="table table-condensed" ng-show="searchResults.length >= 1" ng-cloak>
                    <thead>
                    <tr>
                        <th ng-click="sort('id')">_id</th>
                        <th ng-click="sort('name')">Name</th>
                        <th ng-click="sort('database')">Database</th>
                        <th ng-click="sort('queryArray')">Field ID: Type</th>
                        <th ng-click="sort('projection')">Search Projection</th>
                        <th ng-click="sort('active')">Activated</th>
                        <!--<th ng-click="sort('explain')">Cost</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="search in searchResults  | orderBy:orderProp:direction"
                        ng-class="{selected: search.isChecked}" ng-model='search[$index]'
                        ng-click="toggleSelected();">
                        <td>{{ search._id }}</td>
                        <td>{{ search.name }}</td>
                        <td>{{ search.database }}</td>
                        <td>
                            <li style="list-style-type: none;" ng-repeat="item in search.queryArray">{{ item.field }} :
                                {{ item.type }}
                            </li>
                        </td>
                        <td>{{ search.projection}}</td>
                        <td>{{ search.active }}</td>
                        <td>{{ search.explain }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</section>

</body>

<%- include footer.ejs %>
<!--suppress HtmlUnknownTarget -->
<!--<script src="/js/angular.js"></script>
<script src="/js/ui-bootstrap-tpls.js"></script>
<script src="/js/angular-resource.min.js"></script>
<script src="/js/angular-animate.js"></script>-->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-touch.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>
<script src="/js/ui-bootstrap-tpls.js"></script>

<script src="/api/admin/adminApp.js"></script>
<script src="/api/all/util.js"></script>
<script src="/api/admin/controllers/adminMainController.js"></script>
<script src="/api/admin/controllers/confirmationController.js"></script>
<script src="/api/admin/controllers/createsearchcontroller.js"></script>
<script src="/api/admin/controllers/editsearchcontroller.js"></script>
<!--<script src="/js/directives.js"></script>
<script src='/js/filters.js'></script>
<script src='/js/services.js'></script>-->
</html>