<div class='footer' id="footer">
    <div class='class=container'>
        <p> Unauthorised access or use shall render the user liable to criminal and/or civil prosecution.</p>

        <p>If you are having difficulties accessing this application please open a support ticket.
            <a href='https://bskyb.service-now.com/spark.do'>Spark</a></p>
    </div>
    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
    <img src='/img/logo.png' alt='Logo'>
</div>
