<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=4, user-scalable=yes'>
    <meta name='description' content=''>
    <meta name='author' content='Mark Heynes'>
    <title>mongoDash</title>
    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
    <link rel='icon' href='/img/favicon.png'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
    <link rel='stylesheet' href='/css/navbar-fixed-top.css'>
    <!--suppress HtmlUnknownTarget, HtmlUnknownTarget -->
    <link rel='stylesheet' href='/css/style.css'>
    <!--<link rel="stylesheet" href="/css/style2.css" />-->
    <!--<link rel="stylesheet" href="/css/horizonal.css" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>

