<%- include('head.ejs') %>
<!--suppress HtmlUnknownTarget -->
<body>

<div class='container'>

    <div class='jumbotron text-center'>
        <h1><span class='fa fa-lock'></span>Mongo Dashboard</h1>
        <!-- <p>Login with:</p> -->
        <a href='/login' class='btn btn-default'><span class='fa fa-user'></span>Login</a>
        <!-- <a href='/login-local' class='btn btn-default'><span class='fa fa-user'></span> Local Login</a> -->
    </div>
</div>
</body>

<%- include('footer.ejs') %>
</html>

