body {
    font-size: 10px;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

img {
    max-width: 100%;
}

code {
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    color: #191d66;
}

h2 {
    font-size: 38px;
}

.cta {
    display: inline-block;
    padding: 10px;
    border: 1px solid #6673be;
    border-radius: 3px;
    text-transform: uppercase;
}

.cta:hover {
    background-color: #6bb5ff;
    color: #fff;
    text-decoration: none;
}

#demo-controls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 5px;
    min-height: 35px;
    width: 100%;
    border-bottom: 2px solid #efefef;
    background-color: rgba(255, 255, 255, 0.4);
}

#theme-selector {
    width: 100%;
    height: 30px;
    border: 1px solid #999999;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold; font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
}

.onoffswitch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; border: 1px solid #999999;
    border-radius: 5px; cursor: pointer;
}
.onoffswitch-inner {
    display: block; margin-left: -100%; width: 200%;
    -webkit-transition: margin 0.3s ease-in 0s; -moz-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0;
    width: 50%; height: 26px; color: white; font-weight: bold;
    font-size: 14px; font-family: Trebuchet, Arial, sans-serif; line-height: 26px;
}

.onoffswitch-inner:before {
    padding-left: 5px;
    background-color: #55598a;
    color: #55598a; content: "ENABLED";
}
.onoffswitch-inner:after {
    padding-right: 5px;
    background-color: #EEEEEE;
    color: #EEEEEE; content: "DISABLED";
    text-align: right;
}
.onoffswitch-switch {
    position: absolute; top: 0; right: 23px;
    bottom: 0;
    display: block; margin: 3px;
    width: 20px; border: 2px solid #999999; border-radius: 5px; background: #FFFFFF;
    -webkit-transition: all 0.3s ease-in 0s; -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
@media (min-width: 768px) {
    .onoffswitch {
        width: 108px;
    }
    .onoffswitch-inner:before {
        color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        color: #999999;
    }
    .onoffswitch-switch {
        right: 78px;
    }
}

#hrz-container {
    padding-top: 40px;
}

.splash {
    position: relative;
    padding-bottom: 0;
    text-align: center;
}

.splash h1 {
    bottom: 0;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 22vh;
    background: #425cbc;
    background: -moz-linear-gradient(top,  #425cbc 0%, #93d5ff 47%, #ffffff 87%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#425cbc), color-stop(47%,#93d5ff), color-stop(87%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #425cbc 0%,#93d5ff 47%,#ffffff 87%,#ffffff 100%); /* Old browsers */
    background: -o-linear-gradient(top,  #425cbc 0%,#93d5ff 47%,#ffffff 87%,#ffffff 100%); /* FF3.6+ */
    background: -ms-linear-gradient(top,  #425cbc 0%,#93d5ff 47%,#ffffff 87%,#ffffff 100%); /* Chrome,Safari4+ */
    background: linear-gradient(to bottom,  #425cbc 0%,#93d5ff 47%,#ffffff 87%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    color: white; /* Opera 11.10+ */
    text-shadow: 0 0 15px rgba(27, 45, 255, 0.21); /* IE10+ */
    font-size: 19vw; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#425cbc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.poem {
    margin-bottom: 50px;
    text-align: center;
    font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
}
.poem p {
    font-size: 24px;
}
.poem h2 {
    font-style: italic;
    font-size: 40px;}
.poem em {
    font-style: italic;
}

@media (min-width: 768px) {
    .diagrams img {
        margin-bottom: 150px;
    }
}
